<div class="well page">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="pull-left" style="margin-left: 16px">Bienvenido</h1>

            <div class="pull-right social-icons">
                <a target="_blank" href="https://github.com/dannysenju/universidad"><i class="fa fa-2x fa-github"></i></a>
            </div>
        </div>
        <br/>

        <div class="col-lg-12">
            <blockquote style="margin-left: 16px">
                <p>Sistema integral de admisiones</p>
                <h3>Objetivo:</h3>
                <p>agilizar el proceso y facilitar la administración de los datos</p>
            </blockquote>
        </div>
    </div>

</div>